* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
  }
  html { 
    font-size: 10pt;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'Source Sans Pro', 'Open Sans', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    background-color: white;
    transition: background-color 500ms;
  }
  body {
    margin: 0;
    background-color: rgb(240, 240, 240);
    transition: background-color 500ms;
  }
  section {
    height: 100vh;
    background: coral;
    transition: background 500ms;
  }
  .section2 {
    height: 20vh;
    background: coral;
    padding-top: calc(10vh - 20pt);
    transition: background 500ms;
  }
  section span {
    margin: 0;
    font-size: 400%;
    text-align: center;
    line-height: 1;
    padding-top: calc(40vh - 20pt);
    display: block;
    font-weight: 700;
  }
  .section2 h2 {
    z-index: 9;
    text-align: center;
    margin: 0;
    line-height: 1;
    font-weight: 700;
    font-size: 200%;
  }
  section h2{
    text-align: center;
    margin: 0;
    line-height: 1;
    font-weight: 700;
    font-size: 200%;
  }
  .gifcenter{
    width: 5%;
    
    margin-left: 47.5%;
  }
  .header {
    width: 100%;
    padding: 1em;
    font-size: 140%;
    position: absolute;
    top: 100vh;
    left: 0;
    transition: opacity .2s ease-in-out;
    text-align: center;
    box-shadow: 10px 10px 10px 10px rgb(0, 0, 0);
    
  }
  .header2 {
    width: 100%;
    padding: 1em;
    font-size: 140%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 0;
    transition: opacity .2s ease-in-out;
    text-align: center;
  }
  header h1 {
    font-weight: 600;
    display: inline;
    margin: 0;
    padding: 0;
    font-size: inherit;
  }
  nav a {
    display: inline-block;
    outline: none;
    text-decoration: none;
    opacity: .7;
    padding: 0 .5em;
    color: black;
    transition: color 5000ms;
  }
  nav a:hover,
  nav a:focus {
    opacity: 1;
  }
  article {
    margin: 5em auto 0;
    padding: 1em;
    font-size: 140%;
    max-width: 800px;
    background: white;
    box-shadow: rgba(0,0,0,.05) 0 3px 15px;
    border-radius: 20px;
    transition: background-color 500ms;
  }
  article p {
    margin: 0;
    color: #333;
    transition: color 500ms;
  }
  article p + p {
    margin-top: .7em;
  }

.header {
  padding: 10px 16px;
      background: white;
      box-shadow: rgba(0,0,0,.05) 0 3px 15px;
      transition: background-color 500ms;

}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
padding-top: 102px;}

 .logo{
    width: 1%;
  }

  .workspace-img{
    padding-top: 10px;
    width: 100%;
    
  }

  .workspace-img-small{
    padding-top: 10px;
    width: 20%;
  }

  .text-align{
    text-align: justify;
  }

  body::-webkit-scrollbar {
    width: 10px;               
  }
  body::-webkit-scrollbar-track {
    background: rgba(145, 116, 63, 0);        
  }
  body::-webkit-scrollbar-thumb {
    background-color: coral;    
    border-radius: 20px;       
  }

  .link{
    outline: none;
    text-decoration: none;
    
    padding: 0 .5em;
    color: coral;
  }

  html {
    scroll-behavior: smooth;
  }

 .warning{
  color: coral;
  }


  button {
    /* Сбрасываем дефолтные стили */
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    /* Тут можно поэкспериментировать */
   
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.445);
  }


.hidden {
  display: none;
}   

.lt{
  background: rgb(80, 80, 80);
  color: rgb(19, 19, 19);
}

 
.countdown {
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}
 
.countdown-number {
  display: inline-block;
}
 
.countdown-time {
  display: inline-block;
}
 
.countdown-text {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}


.ht span{
 font-size: 1em;
 margin: 0;
 text-align: center;
 line-height: 1;
 padding-top: 10px;
 display: block;

}

.ht h3{
  font-size: 1em;
  margin: 0;
  text-align: center;
  line-height: 10;
  padding-top: 0px;
  display: block;
  padding-left: 0%;
 }



.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}


.footer-distributed {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #424242;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}
 .footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: rgb(51, 51, 51);
  display: inline-block;
  padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 2px;
  font-size: 20px;
  color: #000000;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
    transition:all .25s;
  }

  .orange{
    color: #000000;
  }

  .telegram{
    width: 100%;
    position: center;
  }

  .thanks{
    text-align: center;
  }

.up{
    margin-bottom: 100vh;
  }

  table {
    border: 1px solid grey;
 }
 /* границы ячеек первого ряда таблицы */
 th {
    border: 1px solid grey;
 }
 /* границы ячеек тела таблицы */
 td {
    border: 1px solid grey;
 }
 table {
  width: 100%;
}

#pc {
  margin-left: 20vh;
}

input{
  border: none;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.445);
}