html[data-theme='dark'] .footer-distributed {
    background-color: #222;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  html[data-theme='dark'] .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  html[data-theme='dark'] .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  html[data-theme='dark'] .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  html[data-theme='dark'] .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  html[data-theme='dark'] .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  html[data-theme='dark'] .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  html[data-theme='dark'] .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #00000000;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  html[data-theme='dark'] section{
    background: #222;
    color: #eee;
    transition: color 500ms;
    transition: background 500ms;
}

html[data-theme='dark'] article{
  background: #222;
  color: #eee;
  transition: color 500ms;
    transition: background 500ms;
}

html[data-theme='dark'] header {
  background-color: #222;
  color: #eee;
  transition: color 500ms;
    transition: background 500ms;
}

html[data-theme='dark'] {
  background: rgb(19, 19, 19);
    transition: background 500ms;
}

html[data-theme='dark'] body {
  background: rgb(20, 20, 20);
    transition: background 500ms;
}

html[data-theme='dark'] .orange{
    color: coral;
  }

  html[data-theme='dark'] .countdown {
    color: #eee;
      transition: color 500ms;}
  
  html[data-theme='dark'] nav a {
    color: gray;
      transition: color 500ms;
  }
  
  html[data-theme='dark'] .tab-header__item.active {
    color: coral;
    background-color: rgba(17, 17, 17, 0);
    transition: all 0.5s;
   
  }

  html[data-theme='dark'] #menu:after{
    border-bottom: 20px solid #111;
  }

  html[data-theme='dark'] #menu {
    background: #111;
  }