#toggle {
    display: block;
    width: 28px;
    height: 30px;
  }
  
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
  }
  #toggle span {
    position: relative;
    display: block;
  }
  
  #toggle span,
  #toggle span:after,
  #toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }

  
  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
  }
  
  /* menu appearance*/
  #menu {
    position: relative;
    color: #999;
    width: 200px;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    text-align: center;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    /* just for this demo */
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
  }
  #menu:after {
    position: absolute;
    top: -15px;
    left: 0px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
  }
  ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
  }
  li a {
    padding: 5px;
    color: #888;
    text-decoration: none;
    transition: all .2s;
  }
  li a:hover,
  li a:focus {
    background: coral;
    color: #fff;
  }

   
 /* Стили для списка вкладок */
 .tab-header {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Стили для вкладки */
.tab-header__item {
  padding: 10px 20px;
  margin-right: 5px;
  cursor: pointer;
  border-bottom: none;
}

/* Стили для активной вкладки */
.tab-header__item.active {
  color: coral;
  position: relative;
  top: 0px;
  background-color: #fff;
  border: none;
  transition: all 0.5s;
 
}


/* Стили для контейнера с содержимым вкладки */
.tab-content__item {
  display: none;
  padding: 20px;
  border: none;
  transition: all 0.5s;
}

/* Стили для активного контейнера вкладки */
.tab-content__item.active {
  display: block;
  transition: all 0.5s;
}

.sticky2 {
  position: fixed;
  margin-top: -18vh;
}

#menu {
  position: fixed;
  margin-top: -14vh;
}

.pc{
  display: block;
}

.down{
  margin-top: 15vh;
}

